.box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  width: 750px;
  height: 395px;
  type: page;
  .bd {
    display: flex;
    flex-direction: row;
    type: div;
    .fail {
      margin-top: 8px;
      margin-left: 39px;
      width: 42px;
      height: 41px;
      type: image;
    }
    .title {
      margin-left: 39px;
      width: 500px;
      height: 48px;
      line-height: 48px;
      white-space: nowrap;
      color: #262626;
      font-size: 34px;
      font-weight: 400;
      lines: 1;
      type: text;
    }
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    width: 749px;
    type: div;
    .title_2 {
      width: 534px;
      max-width: 737px;
      height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 42px;
      white-space: nowrap;
      color: #677187;
      font-size: 30px;
      font-weight: 400;
      lines: 1;
      type: text;
    }
  }
  .submain {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    type: div;
    .failure {
      margin-top: 10px;
      margin-left: 39px;
      width: 42px;
      height: 41px;
      type: image;
    }
    .title_3 {
      margin-left: 39px;
      width: 523px;
      height: 49px;
      line-height: 49px;
      white-space: nowrap;
      color: #262626;
      font-size: 35px;
      font-weight: 400;
      lines: 1;
      type: text;
    }
  }
  .row {
    margin-top: 5px;
    margin-left: 120px;
    width: 210px;
    max-width: 618px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 42px;
    white-space: nowrap;
    color: #677187;
    font-size: 30px;
    font-weight: 400;
    lines: 1;
    type: text;
  }
  .row_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 45px;
    width: 749px;
    type: div;
    .color {
      background-color: #e9e9e9;
      width: 685px;
      height: 2px;
      type: div;
    }
  }
  .ft {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    type: div;
    .title_4 {
      margin-left: 400px;
      width: 270px;
      max-width: 301px;
      height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 42px;
      white-space: nowrap;
      color: #262626;
      font-size: 30px;
      font-weight: 400;
      lines: 1;
      type: text;
    }
    .PagingRight {
      margin-top: 8px;
      margin-left: 20px;
      width: 16px;
      height: 26px;
      type: image;
    }
  }
}
